*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 } 
 img, iframe {
    max-width: 100%;
 }
 html, body {
    display: grid;
    background: whitesmoke;

 }

 #page_header {
     display: grid;
     text-align: center;
     height: 120px;
     margin-top: 20px;
 }
.elements {
    text-align: center;
}

.title {
    margin-bottom: 20px;
}
h2:hover {
    color: darkmagenta;
}

#gallery-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 70vh;
    grid-auto-flow: column;
}
img {
    width: 300px;
    height: 400px;
    max-height: 50vh
}
  
  a:hover {
    color: #bbb;
  }

  a {
      color: white;
      font-size: large;
  }

  .lightbox {
    display: none;

    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    padding: 1em;
  
    background: rgba(0, 0, 0, 0.8);
  }
  
  .lightbox:target {
    display: block;
  }
  
  .lightbox span {
    display: block;
    width: 100%;
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

